table {
	width:100%;
	border-left:#C8B9AE solid 1px;
    border-top:#C8B9AE solid 1px;
	border-collapse: collapse;
	font-family: Futura, Arial, sans-serif;
}

caption {

	font-size: larger;

	margin: 1em auto;

}

th,td {
	width: 25%;
	padding: .65em;

}

th {
	/* width: 100%; */
	background: #555 nonerepeat scroll 0 0;

  /* border: 1px solid #777; */

  color: #fff;

}

/* td {

	border: 1px solid #777;

} */

tbody tr:nth-child(odd) {

	background: #ccc;

}

th:first-child {

	border-radius: 9px 0 0 0;

}

th:last-child {

	border-radius: 0 9px 0 0;

}

tr:last-child td:first-child {
	border-left:#C8B9AE solid 1px;
	border-radius: 0 0 0 9px;
}

tr:last-child td:last-child {
	border-right:#C8B9AE solid 1px;
	border-radius: 0 0 9px 0;
}

/* tbody tr:hover {
 
	background: linear-gradient(#fff,#aaa);

	font-size: 17px;

} */

/* .card .card-text {
	padding: 0.75rem 1rem 0rem;
  } */

.card-simple:last-of-type {
	margin-bottom: 0;
}

.fixedtoc{
	position: fixed;
	right: 1%;
	top: 30%;
	width: 20%;
}

.inlinemath{
	display: inline;
	margin: 0pt;
}

.displaymath{
	display: block;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

.property{
	width: 70%;
	font-style: italic;
}
